// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Fonts
$main-font: "Lato", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// Social Icons Color
$twitter-color: #1da1f2;
$twitch-color: #6441a5;
$youtube-color: #cd201f;
$github-color: #333;
$google-plus-color: #dd4b39;
$facebook-color: #3b5998;
$spotify-color: #1db954;
$behance-color: #1769ff;
$instagram-color: #405de6;
$social-icon: #ffffff;

// Footer Text
$footer-color: #0c1e42;
$footer-color_link: #2d3b46;
$footer-background: #ffffff;

//  Nav Menu
$nav-bgDefault: #ffffff;
$nav-bgHighlight: #ffffff;
$nav-colDefault: #0c1e42;
$nav-colHighlight: #2d3b46;
$nav-dropdown: true;

// Buttons
$button_font: #ffffff;
$button_font_effect: #ffffff;
$button_background: transparent;
$button_background_effect: #ffe144;
$button_border: #ffe144;
$button_border_effect: #000000;
