// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Changes the default bootstrap nav colors
.navbar-default {
    background-color: $nav-bgDefault;

    // border-color: $nav-bgHighlight;
    // box-shadow: 40px -5px 25px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px -5px 25px 0px rgba(0, 0, 0, 0.41);
}
// Changes the default navbar close color
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$nav-colHighlight}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// Navbar style
.navbar {
    margin-bottom: 0px; // border-bottom: 1px solid $brand-color-alt;
}
